<div class="book-slider2-container">
	<div class="book-slider2" data-slider="chiefslider">
		<div class="slider__container">
			<div class="slider__wrapper">
				<div class="slider__items">
					<div class="slider__item">
						<div class="slider__item-container">
							<div class="slider__item-content">
								<div class="book-cover-container">
									<div class="book-cover">
										<div class="book-cover-promo">-45%</div>
										<div class="book-cover-img">
											<img src="https://img4.labirint.ru/rc/95b18bd674e3077442d0f3e7ad53f957/363x561q80/books80/790566/cover.png?1618316737" height="-1" width="-1" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a href="#" class="slider__control" data-slide="prev"></a>
		<a href="#" class="slider__control" data-slide="next"></a>
	</div>
</div>