<div class="promo-container">
	<div class="promo-slider">
		<div class="slider__container">
			<div class="slider__wrapper">
				<div class="slider__items">
					<div class="promo-slider__item">
						<!-- Контент 1 слайда -->
						<img src="https://img.labirint.ru/images/design/b/banner_62f0e3f16e1df.png" alt="">
					</div>
					<div class="slider__item">
						<!-- Контент 2 слайда -->
						<img src="https://img.labirint.ru/images/design/b/banner_62e7854c344bb.png" alt="">
					</div>
					<div class="slider__item">
						<!-- Контент 3 слайда -->
						<img src="https://img.labirint.ru/images/design/b/banner_62f0e3f16e1df.png" width="-1" height="-1" alt="">
					</div>
					<div class="slider__item">
						<!-- Контент 4 слайда -->
						<img src="https://img.labirint.ru/images/design/b/banner_62e7854c344bb.png" alt="">
					</div>
					<div class="slider__item">
						<!-- Контент 5 слайда -->
						<img src="https://img.labirint.ru/images/design/b/banner_62ed21a9491ff.png" alt="">
					</div>
				</div>
			</div>
		</div>
		<a href="#" class="slider__control" data-slide="prev"></a>
		<a href="#" class="slider__control" data-slide="next"></a>
	</div>
</div>