<header>
	
	<section class="top-header">
		
		<div class="top-header-left">
			<div class="top-header-left-logo"><a href="">LoremIpsum</a></div>
			<div class="top-header-left-bait">
				<div class="top-header-left-bait-numbers">85%</div>
				<div class="top-header-left-bait-text">Книжные скидки</div>
			</div>
		</div>

		<div class="top-header-right">
			<div class="top-header-right-items">

				<div class="top-header-right-item" id="header-searchForm">
					<form action="" class="top-header-right-searchForm">
						<input type="text" maxlength="100" placeholder="Поиск по Лабиринту" class="searchField">
						<button class="searchField-button" type="submit">
							<span class="searchField-button-icon"></span>
							<span class="searchField-button-text">Искать</span>
						</button>
					</form>
				</div>

				<div class="top-header-right-item">
					<div class="item-container">
						<a href="">
							<div class="messages-icon">
								<div class="icon"></div>
							</div>
							<div class="item-text">Сообщения</div>
						</a>
					</div>
				</div>

				<div class="top-header-right-item">
					<div class="item-container">
						<a href="">
							<div class="profile-icon">
								<div class="icon"></div>
							</div>
							<div class="item-text">Мой Лаб</div>
						</a>
					</div>
				</div>

				<div class="top-header-right-item">
					<div class="item-container">
						<a href="">
							<div class="favorites-icon">
								<div class="icon"></div>
							</div>
							<div class="item-text">Отложено</div>
						</a>
					</div>
				</div>

				<div class="top-header-right-item">
					<div class="item-container">
						<a href="">
							<div class="cart-icon">
								<div class="icon"></div>
							</div>
							<div class="item-text">Корзина</div>
						</a>
					</div>
				</div>
			</div>

			<div class="top-header-right-nav-menu">
				<ul class="menu-list">
					<li class="cat-menu-item"><a href="">Книги</a>
						<ul>
							<li><a href="">Тестовая категория 1</a>
								<ul>
									<li><a href="">Тестовая категория 1.1</a>
										<ul>
											<li><a href="">Тестовая категория 1.1.1</a></li>
											<li><a href="">Тестовая категория 1.1.2</a></li>
											<li><a href="">Тестовая категория 1.1.3</a></li>
										</ul>
									</li>
									<li><a href="">Тестовая категория 1.2</a></li>
									<li><a href="">Тестовая категория 1.3</a></li>
								</ul>

							</li>
							<li><a href="">Тестовая категория 2</a></li>
							<li><a href="">Тестовая категория 3</a></li>
						</ul>
					</li>
					<li class="cat-menu-item"><a href="">Главное 2022</a></li>
					<li class="cat-menu-item"><a href="">Школа</a></li>
					<li class="cat-menu-item"><a href="">Игрушки</a></li>
					<li class="cat-menu-item"><a href="">Канцтовары</a></li>
					<li class="cat-menu-item"><a href="">Еще</a></li>
					<li class="cat-menu-item"><a href="">Клуб</a></li>
					<li class="cat-menu-item"><a href="">Москва</a></li>
				</ul>
			</div>
		</div>
	</section>
	<section class="bot-header">
		<ul>
			<li><a href="">Доставка и оплата</a></li>
			<li><a href="">Сертификаты</a></li>
			<li><a href="">Рейтинги</a></li>
			<li><a href="">Новинки</a></li>
			<li><a href="">Скидки</a></li>
			<li><a href="">+7 999 999-99-99</a></li>
			<li><a href="">Контакты</a></li>
			<li><a href="">Поддержка</a></li>
			<li><a href="">2527 пунктов самовывоза</a></li>
			<li><a href="">
					<div class="social-icon"></div><div class="social-text">в соцсетях</div>
				</a>
			</li>
		</ul>	
	</section>

</header>