.book-slider2-container {
	max-width: 100%;
	margin: 0 auto;
	box-shadow: inset 0 -140px 130px -100px rgb(0 0 0 / 30%);
}

.book-slider2-container .book-slider2 {
	position: relative;
}

.book-slider2-container .slider__wrapper {
	overflow: hidden;
	margin-left: -5px;
	margin-right: -5px;
}

.book-slider2-container .slider__item {
	max-width: 250px;
}

.book-slider2-container .slider__control {
	background-color: unset;
}

.book-slider2-container .slider__control:hover,
.book-slider2-container .slider__control:focus {
	background-color: rgba(0, 0, 0, 0.1);
}

.book-slider2-container .slider__control {
	background-color: rgba(0, 0, 0, 0.3);
}

.book-slider2-container .slider__control[data-slide="prev"] {
  left: 80%;
  top: -10%;
  width: 40px;
}

.book-slider2-container .slider__control[data-slide="next"] {
  right: 0;
  top: -10%;
  width: 40px;
}