.book-cover-container {
	width: 250px;
	height: 325px;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.book-cover {
	margin: 0 auto;
	width: 200px;
	height: 350px;
	position: absolute;
	display: flex;
	align-items: flex-end;
	bottom: -10%;
	transition: all 0.5s ease;
}

.book-cover:hover {
	bottom: 0%;
}

.book-cover-promo {
	transform: rotate(-4deg);
	padding: 2px 5px;
	background-color: #7054be;
	color: #ffffff;
	width: 35%;
	font-family: "PT_Sans Regular";
	font-size: 22px;
	position: absolute;
	top: 20%;
	margin-left: 150px;
	overflow: visible;
}